{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Get Website</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">neimanovskii</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://t.me/sqmfm">Telegram</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% static "BohdanNeimanovskyiCV.pdf" %}">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'allblogs' %}">Blog</a>
      </li>
    </ul>
  </div>
</nav>

    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">My Blog</h1>
            </br>
            </br>
          <h2>Latest posts</h2>
        </div>
      </section>
   {% for blog in blogs.all %}

      <div class="album py-5 bg-light">
        <div class="container">
          <p><a href="{% url 'details' blog.id %}"><img class="img-thumbnail" src="{{ blog.image.url}}" height="200", width="200"></a></p>
           <h3>{{ blog.title }}</h3>
            </br>
            <small>{{ blog.pub_date_pretty }}</small>
            </br>
            </br>
           {{ blog.summary }}
            </br>
          </div>
        </div>
      </div>

   {% endfor %}

    </main>

    <blogter class="text-muted">
      <div class="container text-center">
        <p>© Bohdan Neimanovskii {% now "Y" %}</p>
      </div>
    </blogter>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>